@font-face {
    font-family: Vazirmatn;
    src: url('../fonts/Vazirmatn-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

body{
    font-family: 'Vazirmatn';
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-right: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-right: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-right: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-right: -15rem;
    }
}

figure.image img {
    max-width: 100%;
}

figure.avatar img{
    border: 1px solid #e8e8e8;
    border-radius: 50%;
}

.like {
    position: relative;
    color: #222222;
    cursor: pointer;
    -webkit-transition: color 1s ease-in;
    transition: color 0.4s ease-in;
}
.like:hover {
    color: #e86850;
}
.like:before {
    content: "f004";
    position: absolute;
}
.like:after {
    content: "f004";
}
.like.liked {
    color: #e86850;
}
.like.liked:before {
    content: "f004";
    opacity: 0;
    animation: fly 1s ease-out;
}

@keyframes fly {
    0% {
        opacity: 0;
        transform: translateY(0px);
    }
    75% {
        opacity: 0.75;
        transform: scale(1.5) translateY(-30px);
    }
    100% {
        opacity: 0;
        transform: scale(2) translateY(-40px);
    }
}
